@model IEnumerable<Pasien>

<p>
    <a asp-controller="Pasien" asp-action="Create">Create Data Pasien</a>
</p>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GolD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempatL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanggalL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaIbu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusM)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GolD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempatL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaIbu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusM)
            </td>
        </tr>
        }
    </tbody>
</table>