@model PasDashboard

@{
    Layout = "_UserLayout";
}

<div class="card shadow mb-4">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Pasien</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(item => item.pas[0].Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(item => item.pas[0].NamaP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(item => item.pas[0].TempatL)
                        </th>
                        <th>
                            @Html.DisplayNameFor(item => item.pas[0].TanggalL)
                        </th>
                        <th>
                            @Html.DisplayNameFor(item => item.pas[0].Alamat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(item => item.pas[0].NoHp)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.pas)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NamaP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TempatL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TanggalL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Alamat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoHp)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Detail" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
