@model IEnumerable<Dokter>

<p>
    <a asp-controller="Dokter" asp-action="Create">Create Data Dokter</a>
</p>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alamat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanggalD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ijin)
            </th>
            <th>
                Opsi
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alamat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ijin)
            </td>
            <td>
                <a  asp-route-id="@item.Id">Edit</a>
                <a  asp-route-id="@item.Id">Details</a>
                <a  asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>