@model IEnumerable<Db_Pemeriksaan>

<p>
    <a asp-controller="Pemeriksaan" asp-action="Create">Create Data Pemeriksaan</a>
</p>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanggalB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keluhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tindakan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasienId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DokterId)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keluhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tindakan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasienId)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DokterId)
            </td>
        </tr>
        }
    </tbody>
</table>